body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.modal-root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-root .modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-root .modal-backdrop .modal-container {
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  min-height: 40px;
  z-index: 2;
}

.modal-root .modal-backdrop .modal-container .modal-title {
  font-size: 1.5rem;
} 

.modal-root .modal-backdrop .modal-container .modal-body {
  margin-top: 0.5rem; 
}

.modal-root .modal-backdrop .modal-container .modal-control {
  margin-top: 0.5rem;
}

